.header {
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}




.header__content {
  position: relative;
}


.header__title {
  max-width: 709px;
  margin-top: 183px;
  margin-left: 80px;
  line-height: 30px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}

.header__description {
  margin-top: 28px;
  margin-left: 80px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;


}


.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  top: 124px;
  right: 5px;
}


.header__footer {
  margin-top: auto;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
  position: relative;
}


.header__footer-hours {
  list-style-type: none;
  position: absolute;
  bottom: 40px;
  left: 80px;
}


.header__footer-paragraph {
  position: absolute;
  bottom: 40px;
  right: 80px;
}


.header__footer-list {
  list-style-type: none;
}