.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-family: ARIAL, sans-serif, 'not serif', 'times new roman', serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
  background-image: url(/images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}