.reservation {
  background-color: #D9E7FF;
  background-image: url(/images/background_reservation.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px;
  display: flex;
  justify-content: center;
  min-width: 385px;
  position: relative;
  z-index: 1;
}

.reservation__title {

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto 80px;
}

.reservation__form {
  max-width: 385px;
  border: none;
}


.reservation__fieldset {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;

}


.reservation__label {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}


.reservation__input {
  max-height: 60px;
  border-radius: 4px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding: 15px 20px;
  margin-bottom: 32px;


}


.reservation__button {
  color: #ffffff;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.3s ease, background-color 0.3s ease;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  width: 385px;
}


.reservation__button:hover {
  opacity: 0.7;


}


.reservation__button-submit {

  background-color: #2F80ED;
}


.reservation__checkbox {
  margin-top: 35px;
  border-radius: 2px;
  display: flex;
  justify-content: center;


}


.reservation__checkbox-input {
  width: 20px;
  height: 20px;
  margin-right: 12px;
  background: #3f8ca3;
  background-image: url(/images/check.svg);


}